*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container{
  background-color: #cecece30;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.slider{
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  min-width: 600px;
}

.center{
  flex-basis: 70%;
}

.right, .left{
  flex-basis: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow{
  height: calc(100% - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom{
  height: 90px;
}

.far, .fas{
  vertical-align: middle;
}

.circle{
  text-align: center;
  line-height: 90px;
  width: 90%;
  margin: auto;
  border-radius: 50px;
  background-color: #cecece90;
}

.slideshow > img{
  max-height: 70%;
  max-width: 90%;
  box-shadow: 10px 15px 10px lightgrey;
  display: none;
}

.slideshow > img.active{
  display: block;
}
